:root {
  --fonts-system: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  --primary-100: #f0ebf8;
  --primary-500: #673ab7;
  --gray-scale-00: #fff;
  --gray-scale-500: #adb1ba;
  --gray-scale-900: #202124;
  --red-500: #d93025;
}
